.root {
    -fx-background-color: linear-gradient(to bottom right, #0f172a, #1e1b4b);
}

.game-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(129,140,248,0.5), 10, 0, 0, 0);
}
.text-field {
    -fx-padding: 12px;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #cbd5e1;
    -fx-border-color: #475569;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-color: #1e293b;
}

.text-field:focused {
    -fx-background-color: #1e293b;
    -fx-border-color: #818cf8;
}